[Unit]
Description=EGE checker service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 /home/pi/ege-checker/check.py /home/pi/ege-checker/cfg.json 1>>/home/pi/ege-checker/checker.log 2>>/home/pi/ege-checker/checker.log

[Install]
WantedBy=multi-user.target